p{
	text-decoration:underline;
	color: rgb(100,200,50);
	font-family: "comic sans ms";
}

h1{
	text-decoration: line-through;
	color: red;
	font-family: verdana;
}
div{
	background-color: yellow
}